@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

.monts-small-grey {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: #645f5f;
}

.rq-title {
  font-weight: bold;
  font-style: 1.5rem;
}

.rq-text-large {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: black;
}

.rq-text-small {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: 700;
}

.rq-text-small-grey {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: #706e6e;
  font-weight: bolder;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  width: 100vw;
  -ms-grid-columns: 3% 97%;
      grid-template-columns: 3% 97%;
  grid-column-gap: 5px;
}

.rq-navbar .nav-list-items {
  height: 98vh;
  list-style-type: none;
  padding: 10px 6px;
}

.rq-navbar .nav-list-items .top {
  height: 30%;
  padding: 5px;
}

.rq-navbar .nav-list-items .middle {
  height: 55%;
  padding: 5px;
}

.rq-navbar .nav-list-items .bottom {
  height: 15%;
  position: relative;
  padding: 5px;
}

.rq-navbar .nav-list-items .bottom li:first-child {
  height: 35px;
}

.rq-navbar .nav-list-items .bottom li:first-child::before {
  position: absolute;
  content: "";
  top: 10%;
  left: 25px;
  background-color: aqua;
  height: 8px;
  width: 8px;
  border-radius: 100vh;
}

.rq-navbar .nav-list-items .list-item {
  margin: 10px 0;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.rq-navbar .nav-list-items .list-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.rq-navbar .nav-list-items .list-item i {
  font-size: 1.5rem;
  color: darkgrey;
}

.rq-navbar .nav-list-items .list-item:hover::after {
  -webkit-transform: scaleX(1.25);
          transform: scaleX(1.25);
}

.rq-navbar .nav-list-items .list-item::after {
  position: absolute;
  content: "";
  background: blue;
  height: 1.5px;
  bottom: -1%;
  width: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.rq-navbar .nav-list-items .active i {
  color: blue;
}

.main-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 50% 25%;
      grid-template-columns: 25% 50% 25%;
}

.main-content .left {
  background: #fdfdfd;
}

.main-content .left .greeting {
  position: relative;
  margin: 10px 4px;
  padding: 10px 8px;
}

.main-content .left .greeting .profile-pic,
.main-content .left .greeting .message {
  display: inline;
}

.main-content .left .greeting picture img {
  height: 100px;
  width: 100px;
  border-radius: 100vh;
}

.main-content .left .greeting .message {
  position: absolute;
  margin: 0px 15px;
  top: 20%;
}

.main-content .left .today {
  margin: 10px 4px;
  padding: 10px 8px;
}

.main-content .left .today .values {
  margin: 20px 4px;
}

.main-content .left .today .values .value {
  margin: 12px 4px;
}

.main-content .left .today .values .my-dropdown {
  width: 100px;
}

.main-content .left .today .values .my-dropdown ul {
  list-style: none;
  height: 10px;
  border: 2px solid darkgray;
  width: 100%;
  line-height: 25px;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.main-content .left .today .values .my-dropdown ul.open {
  height: 80px;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.main-content .left .today .values .my-dropdown ul.open li {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: black;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.main-content .left .today .values .my-dropdown ul.open li:hover {
  background: #ebe8e8;
}

.main-content .left .today .values .my-dropdown ul.open li::after {
  position: absolute;
  content: "";
  background: black;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  opacity: .2;
}

.main-content .left .today .values .want-btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  height: 35px;
  width: 100px;
  background: #4935FF;
  border-radius: 10px;
  border: none;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-content .left .today .values .want-btn.active {
  border-radius: 10px 10px 0px 0px;
}

.main-content .left .today .transactions {
  margin: 10px 4px;
}

.main-content .left .today .transactions .txn {
  margin: 20px 4px;
}

.main-content .middle {
  margin: 10px 15px;
}

.main-content .middle p:first-child {
  color: blue;
  font-size: .8rem;
  font-weight: 600;
  margin: 5px 4px;
}

.main-content .middle h1 {
  font-size: 1rem;
  margin: 5px 4px 15px 4px;
  height: 35px;
}

.main-content .middle .goals-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  margin: 15px 0px;
  position: relative;
}

.main-content .middle .goals-section .goals h2 {
  font-family: 'Montserrat', sans-serif;
}

.main-content .middle .goals-section .goals p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: #706e6e;
  font-weight: bolder;
}

.main-content .middle .goals-section .goals::after {
  position: absolute;
  content: "";
  bottom: 10px;
  height: 1px;
  width: 25%;
  background-color: blue;
}

.main-content .middle .contributions {
  margin: 10px 5px;
}

.main-content .middle .contributions h2 {
  font-size: 1rem;
}

.main-content .middle .contributions .chart img {
  width: 80%;
}

.main-content .middle .comparison {
  margin: 10px 5px;
}

.main-content .middle .comparison h2 {
  font-size: 1rem;
}

.main-content .middle .comparison p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: #706e6e;
  margin: 2px 0px;
}

.main-content .middle .comparison .visualization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 4px;
}

.main-content .middle .comparison .visualization .factors {
  width: 28%;
  margin: 10px 5px;
}

.main-content .middle .comparison .visualization .factors .factor {
  margin: 10px 4px;
}

.main-content .middle .comparison .visualization .factors .factor select {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: #706e6e;
  border: none;
  outline: none;
}

.main-content .middle .comparison .visualization .factors .factor label {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: black;
  font-weight: bolder;
}

.main-content .middle .comparison .visualization .gauge-charts {
  width: 72%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .middle .comparison .visualization .gauge-charts .chart {
  height: 100%;
  width: 33%;
}

.main-content .middle .comparison .visualization .gauge-charts .chart .footer {
  text-align: center;
  margin: 4px 10px 0px -10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: 700;
}

.main-content .right {
  background: #fdfdfd;
  left: 20px;
  margin: 20px 5px;
  position: relative;
}

.main-content .right h2 {
  font-size: 1rem;
  margin: 10px 4px;
}

.main-content .right .strategy {
  margin: 10px 5px;
  position: relative;
}

.main-content .right .strategy p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: 700;
  margin-bottom: 5px;
}

.main-content .right .strategy label {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: black;
  font-weight: bolder;
  top: 50%;
  left: 50%;
}

.main-content .right .rate-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  margin: 15px 1px;
}

.main-content .right .rate-value p,
.main-content .right .rate-value span {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: 700;
}

.main-content .right button {
  margin: 10px 5px;
  -webkit-transform: translateX(80%);
          transform: translateX(80%);
  height: 40px;
  width: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  background: #4935FF;
  border-radius: 10px;
  outline: none;
}

.main-content .right .help-link {
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
  margin: 10px 5px;
}

.main-content .right .help-link a {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: #383CC1;
  font-weight: bolder;
  text-decoration: none;
}

.main-content .right .help-link a i {
  font-size: 0.6rem;
}

.main-content .right .housing {
  margin: 10px;
  padding: 10px;
}

.main-content .right .housing p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: #706e6e;
  font-weight: bolder;
}

.main-content .right .housing h3 {
  font-family: 'Montserrat', sans-serif;
}

.main-content .right .housing .rq-text-small-grey {
  margin: 10px 0px;
}

.main-content .right .housing a {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: #383CC1;
  font-weight: bolder;
  text-decoration: none;
}

.main-content .right .housing a i {
  font-size: 0.6rem;
}

.main-content .right .housing::before {
  content: "";
  position: absolute;
  left: 5px;
  width: 2px;
  background-color: blue;
  height: 100px;
}
/*# sourceMappingURL=main.css.map */