@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

.monts-small-grey {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: #645f5f;
}

.rq-title {
  font-weight: bold;
  font-style: 1.5rem;
}

.rq-text-large {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: black;
}

.rq-text-small {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: 700;
}

.rq-text-small-grey {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: #706e6e;
  font-weight: bolder;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  width: 100vw;
  -ms-grid-columns: 3% 97%;
      grid-template-columns: 3% 97%;
  grid-column-gap: 5px;
}

.rq-navbar .nav-list-items {
  height: 98vh;
  list-style-type: none;
  padding: 10px 6px;
}

.rq-navbar .nav-list-items .top {
  height: 30%;
}

.rq-navbar .nav-list-items .middle {
  height: 60%;
}

.rq-navbar .nav-list-items .bottom {
  height: 10%;
}

.rq-navbar .nav-list-items .list-item {
  margin: 10px 0;
  cursor: pointer;
}

.rq-navbar .nav-list-items .list-item i {
  font-size: 1.5rem;
  color: darkgrey;
}

.rq-navbar .nav-list-items .active i {
  color: blue;
}

.main-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 50% 25%;
      grid-template-columns: 25% 50% 25%;
}

.main-content .left {
  background: #fdfdfd;
}

.main-content .left .greeting {
  position: relative;
  margin: 10px 4px;
  padding: 10px 8px;
}

.main-content .left .greeting .profile-pic, .main-content .left .greeting .message {
  display: inline;
}

.main-content .left .greeting picture img {
  height: 100px;
  width: 100px;
  border-radius: 100vh;
}

.main-content .left .greeting .message {
  position: absolute;
  margin: 0px 15px;
  top: 20%;
}

.main-content .left .today {
  margin: 10px 4px;
  padding: 10px 8px;
}

.main-content .left .today .values {
  margin: 20px 4px;
}

.main-content .left .today .values .value {
  margin: 12px 4px;
}

.main-content .left .today .values .want-btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  height: 35px;
  width: 100px;
  background: #383CC1;
  border-radius: 10px;
  outline: none;
}

.main-content .left .today .transactions {
  margin: 10px 4px;
}

.main-content .left .today .transactions .txn {
  margin: 20px 4px;
}

.main-content .middle {
  margin: 10px 15px;
}

.main-content .middle p:first-child {
  color: blue;
  font-size: .8rem;
  font-weight: 600;
  margin: 5px 4px;
}

.main-content .middle h1 {
  font-size: 1rem;
  margin: 5px 4px;
}

.main-content .middle .goals-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px 0px;
}

.main-content .middle .goals-section .goals h2 {
  font-family: 'Montserrat', sans-serif;
}

.main-content .middle .goals-section .goals p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: #706e6e;
  font-weight: bolder;
}

.main-content .middle .contributions {
  margin: 10px 5px;
}

.main-content .middle .contributions h2 {
  font-size: 1rem;
}

.main-content .middle .contributions .chart img {
  width: 80%;
}

.main-content .middle .comparison {
  margin: 10px 5px;
}

.main-content .middle .comparison h2 {
  font-size: 1rem;
}

.main-content .middle .comparison p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: #706e6e;
  margin: 2px 0px;
}

.main-content .middle .comparison .visualization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 4px;
}

.main-content .middle .comparison .visualization .factors {
  width: 28%;
  margin: 10px 5px;
}

.main-content .middle .comparison .visualization .factors .factor {
  margin: 10px 4px;
}

.main-content .middle .comparison .visualization .factors .factor select {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: #706e6e;
  border: none;
  outline: none;
}

.main-content .middle .comparison .visualization .factors .factor label {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: black;
  font-weight: bolder;
}

.main-content .middle .comparison .visualization .gauge-charts {
  width: 72%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .middle .comparison .visualization .gauge-charts img {
  width: 100%;
}

.main-content .right {
  background: #fdfdfd;
  margin: 20px 5px;
  position: relative;
}

.main-content .right h2 {
  font-size: 1rem;
  margin: 10px 4px;
}

.main-content .right .strategy {
  margin: 10px 5px;
  position: relative;
}

.main-content .right .strategy p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: 700;
  margin-bottom: 5px;
}

.main-content .right .strategy label {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: black;
  font-weight: bolder;
  top: 50%;
  left: 50%;
}

.main-content .right .rate-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 15px 5px;
}

.main-content .right .rate-value p, .main-content .right .rate-value span {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: black;
  font-weight: 700;
}

.main-content .right button {
  margin: 10px 5px;
  -webkit-transform: translateX(80%);
          transform: translateX(80%);
  height: 40px;
  width: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  background: #383CC1;
  border-radius: 10px;
  outline: none;
}

.main-content .right .help-link {
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
  margin: 10px 5px;
}

.main-content .right .help-link a {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: #383CC1;
  font-weight: bolder;
  text-decoration: none;
}

.main-content .right .help-link a i {
  font-size: 0.6rem;
}

.main-content .right .housing {
  margin: 10px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: black;
}

.main-content .right .housing .rq-text-small-grey {
  margin: 10px 0px;
}

.main-content .right .housing a {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: #383CC1;
  font-weight: bolder;
  text-decoration: none;
}

.main-content .right .housing a i {
  font-size: 0.6rem;
}
/*# sourceMappingURL=main.css.map */