@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat&display=swap');
@import 'mixins';

* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: 'Merriweather', serif;
}

.monts-small-grey {
    @include text_monts(.8rem, rgb(100, 95, 95));
}

.rq-title {
    font-weight: bold;
    font-style : 1.5rem;
}

.rq-text-large {
    @include text_monts(2rem, black);
}

.rq-text-small {
    @include text_monts(1rem, black);
    font-weight: 700;
}

.rq-text-small-grey {
    @include text_monts(0.8rem, rgb(112, 110, 110));
    font-weight: bolder;
}

.grid-container {
    display              : grid;
    height               : 100vh;
    width                : 100vw;
    grid-template-columns: 3% 97%;
    grid-column-gap      : 5px;
}

.rq-navbar {
    // border: 1px solid black;

    .nav-list-items {
        height         : 98vh;
        list-style-type: none;
        padding        : 10px 6px;


        .top {
            height : 30%;
            padding: 5px;
        }

        .middle {
            height : 55%;
            padding: 5px;
        }

        .bottom {
            height  : 15%;
            position: relative;
            padding : 5px;

            li:first-child {
                height: 35px;

                &::before {
                    position        : absolute;
                    content         : "";
                    top             : 10%;
                    left            : 25px;
                    background-color: aqua;
                    height          : 8px;
                    width           : 8px;
                    border-radius   : 100vh;
                }
            }

        }

        .list-item {
            margin: 10px 0;
            cursor: pointer;
            position: relative;
            transition: transform .3s ease;
            
            &:hover{
               transform: scale(1.2); 
            }
            i {
                font-size: 1.5rem;
                color    : darkgrey;
            }

            &:hover::after{
                width: 130%;
            }

            &::after{
                position: absolute;
                background: blue;
                height: 1.5px;
                bottom: -1%;
                width: 0%;
                content: "";
                transition: width 0.3s ease;
            }
        }

        .active i {
            color: blue;
        }
    }
}

.main-content {
    // border: 1px solid red;
    display              : grid;
    // width: 100%;
    grid-template-columns: 25% 50% 25%;

    .left {
        // border:1px solid darkkhaki;
        background: rgb(253, 253, 253);

        .greeting {
            position: relative;
            margin  : 10px 4px;
            padding : 10px 8px;

            .profile-pic,
            .message {
                display: inline;
            }

            picture img {
                height       : 100px;
                width        : 100px;
                border-radius: 100vh;
            }

            .message {
                position: absolute;
                margin  : 0px 15px;
                top     : 20%;
            }
        }

        .today {
            margin : 10px 4px;
            padding: 10px 8px;

            .values {
                margin: 20px 4px;

                .value {
                    margin: 12px 4px;
                }

                .want-btn {
                    @include text_monts(.8rem, white);
                    font-weight  : bolder;
                    cursor       : pointer;
                    height       : 35px;
                    width        : 100px;
                    background   : #4935FF;
                    border-radius: 10px;
                    outline      : none;
                }
            }

            .transactions {
                margin: 10px 4px;

                .txn {
                    margin: 20px 4px;
                }
            }
        }


    }

    .middle {
        // border:1px solid darkorchid;
        margin: 10px 15px;

        p:first-child {
            color      : blue;
            font-size  : .8rem;
            font-weight: 600;
            margin     : 5px 4px;
        }

        h1 {
            font-size: 1rem;
            margin   : 5px 4px 15px 4px;
            height   : 35px;
        }

        .goals-section {
            display        : flex;
            justify-content: space-between;
            height         : 70px;
            margin         : 15px 0px;
            position       : relative;

            .goals {
                // text-align: center;

                h2 {
                    font-family: 'Montserrat', sans-serif;
                }

                p {
                    @include text_monts(0.8rem, rgb(112, 110, 110));
                    font-weight: bolder;
                }

                &::after {
                    position        : absolute;
                    content         : "";
                    bottom          : 10px;
                    height          : 1px;
                    width           : 25%;
                    background-color: blue;
                }
            }
        }

        .contributions {
            margin: 10px 5px;

            h2 {
                font-size: 1rem;
            }

            .chart img {
                width: 80%;
            }
        }

        .comparison {
            margin: 10px 5px;

            h2 {
                font-size: 1rem;
            }

            p {
                @include text_monts(0.8rem, rgb(112, 110, 110));
                margin: 2px 0px;
            }

            .visualization {
                display: flex;
                margin : 10px 4px;

                .factors {
                    width : 28%;
                    margin: 10px 5px;

                    .factor {
                        margin: 10px 4px;

                        select {
                            cursor: pointer;
                            @include text_monts(0.8rem, rgb(112, 110, 110));
                            border : none;
                            outline: none;
                        }

                        label {
                            @include text_monts(0.8rem, black);
                            font-weight: bolder;
                        }
                    }
                }

                .gauge-charts {
                    width  : 72%;
                    display: flex;

                    .chart {
                        // border: 1px solid red;
                        height: 100%;
                        width : 33%;

                        .footer {
                            text-align: center;
                            margin    : 4px 10px 0px -10px;
                            @include text_monts(1rem, black);
                            font-weight: 700;
                        }
                    }
                }
            }
        }

    }

    .right {
        background: rgb(253, 253, 253);
        // border:1px solid deepskyblue;
        left      : 20px;
        margin    : 20px 5px;
        position  : relative;

        h2 {
            font-size: 1rem;
            margin   : 10px 4px;
        }

        .strategy {
            margin  : 10px 5px;
            position: relative;

            p {
                @include text_monts(1rem, black);
                font-weight  : 700;
                margin-bottom: 5px;
            }

            label {
                position: absolute;
                @include text_monts(0.8rem, black);
                font-weight: bolder;
                top        : 50%;
                left       : 50%;
            }
        }

        .rate-value {
            display        : flex;
            justify-content: space-between;
            width          : 85%;
            margin         : 15px 1px;

            p,
            span {
                @include text_monts(1rem, black);
                font-weight: 700;
            }
        }

        button {
            margin   : 10px 5px;
            transform: translateX(80%);
            height   : 40px;
            width    : 100px;
            @include text_monts(.8rem, white);
            font-weight  : bolder;
            cursor       : pointer;
            background   : #4935FF;
            border-radius: 10px;
            outline      : none;
        }

        .help-link {
            transform: translateX(25%);
            margin   : 10px 5px;

            a {
                @include text_monts(0.8rem, #383CC1);
                font-weight    : bolder;
                text-decoration: none;

                i {
                    font-size: 0.6rem;
                }
            }
        }

        .housing {
            margin : 10px;
            padding: 10px;


            p {
                @include text_monts(0.8rem, rgb(112, 110, 110));
                font-weight: bolder;
            }

            h3 {
                font-family: 'Montserrat', sans-serif;
            }

            .rq-text-small-grey {
                margin: 10px 0px;
            }

            a {
                @include text_monts(0.8rem, #383CC1);
                font-weight    : bolder;
                text-decoration: none;

                i {
                    font-size: 0.6rem;
                }
            }

            &::before {
                content         : "";
                position        : absolute;
                left            : 5px;
                width           : 2px;
                background-color: blue;
                height          : 100px;
            }
        }
    }

}