@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat&display=swap');
@import 'mixins';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;  
}

.monts-small-grey{
    @include text_monts(.8rem, rgb(100, 95, 95));
}

.rq-title{
    font-weight: bold;
    font-style: 1.5rem;
}

.rq-text-large{
    @include text_monts(2rem, black);
}

.rq-text-small{
    @include text_monts(1rem, black);
    font-weight: 700;
}

.rq-text-small-grey{
    @include text_monts(0.8rem, rgb(112, 110, 110));
    font-weight: bolder;
}

.grid-container{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 3% 97%;
    grid-column-gap:5px;
}

.rq-navbar{
    border: 1px solid black;
    
    .nav-list-items{
        height: 98vh;
        list-style-type: none;
        padding: 10px 6px;

        
        .top{
            height: 30%;
        }
        
        .middle{
            height: 60%;
        }
        
        .bottom{
            height: 10%;
        }
        
        .list-item{
            margin: 10px 0;
            cursor: pointer;

            i{
                font-size: 1.5rem;
                color: darkgrey;
            }
        }

        .active i{
            color: blue;
        }
    }
}

.main-content{
    border: 1px solid red;
    display: grid;
    // width: 100%;
    grid-template-columns: 25% 50% 25%;

    .left{
        border:1px solid darkkhaki;
        background: rgb(253, 253, 253);

        .greeting{
            position: relative;
            margin: 10px 4px;
            padding: 10px 8px;
            
            .profile-pic, .message{
                display: inline;
            }

            picture img{
                height: 100px;
                width: 100px;
                border-radius: 100vh;
            }

            .message{
                position: absolute;
                margin: 0px 15px;
                top: 20%;
            }
        }

        .today{
            margin: 10px 4px;
            padding: 10px 8px;

            .values {
                margin: 20px 4px;

                .value{
                    margin: 12px 4px;
                }

                .want-btn{
                    @include text_monts(.8rem, white);
                    cursor: pointer;
                    height: 35px;
                    width: 100px;
                    background: blue;
                    border-radius: 10px;
                    outline: none;
                }
            }

            .transactions{
                margin: 10px 4px;

                .txn{
                    margin: 20px 4px;
                }
            }
        }

        
    }

    .middle{
        border:1px solid darkorchid;

        .goals-section{
            display: flex;
            justify-content: space-around;
        }

        .contributions{
            .chart img{
                width: 80%;
            }
        }

        .comparison .visualization{
            display: flex;

            .factors{
                width: 25%;
            }

            .gauge-charts{
                width: 75%;
                display: flex;

                img{
                    width: 150px;
                }
            }
        }

    }

    .right{
        background: rgb(253, 253, 253);
        border:1px solid deepskyblue;
    }
    
}